html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.title {
  font-size: 10vw;
}

.h1 {
  font-size: 5vw;
}

.h2 {
  font-size: 3.5vw;
}

.h3 {
  font-size: 2.3vw;
}

.prayerCol {
  margin-top: auto;
  border-radius: 6px;
}

.prayerCol.active {
  background-color: rgb(232, 255, 219);
}